apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: php-apache
  name: php-apache
spec:
  replicas: 10
  selector:
    matchLabels:
      app: php-apache
  strategy:
    rollingUpdate:
      # additionally create 100% of all Pods
      maxSurge: 100%
      # maximum of 50% of all Pods can be unavailable at a time
      maxUnavailable: 50%
  template:
    metadata:
      labels:
        app: php-apache
    spec:
      affinity:
        # Pod should NOT be scheduled on the same Node
        podAntiAffinity:
          # if it runs there we do not care
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                # decide by these labels
                labelSelector:
                  matchExpressions:
                    - key: "app"
                      operator: In
                      values:
                        - php-apache
                # should take effect on the Node by its name
                topologyKey: "kubernetes.io/hostname"
      containers:
      - image: gcr.io/google_containers/hpa-example
        name: hpa-example
        resources:
          requests:
            memory: 64Mi
            cpu: 70m
          limits:
            memory: 64Mi
            cpu: 70m
        ports:
          - containerPort: 80
            name: http
        livenessProbe:
          exec:
            command:
            - cat
            - /var/www/html/index.php
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 1
          failureThreshold: 3
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
